src/main/resources/wsdl/ServiceControl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ServiceControl" targetNamespace="http://www.bercut.com/wsdl/ServiceControl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.bercut.com/wsdl/ServiceControl"
    xmlns:ns="http://www.bercut.com/schema/ServiceControl"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <types>
        <xsd:schema targetNamespace="http://www.bercut.com/wsdl/ServiceControl">
            <xsd:import namespace="http://www.bercut.com/schema/ServiceControl" schemaLocation="ServiceControl.xsd"/>
        </xsd:schema>
    </types>

    <message name="checkAbilityRequest">
        <part name="parameters" element="ns:checkAbilityRequest"/>
    </message>
    <message name="checkAbilityResponse">
        <part name="parameters" element="ns:serviceResponse"/>
    </message>
    <message name="checkAbilityFault">
        <part name="parameters" element="ns:BusinessException"/>
    </message>

    <message name="changeServiceRequest">
        <part name="parameters" element="ns:changeServiceRequest"/>
    </message>
    <message name="changeServiceResponse">
        <part name="parameters" element="ns:serviceResponse"/>
    </message>
    <message name="changeServiceFault">
        <part name="parameters" element="ns:BusinessException"/>
    </message>

     <message name="checkActiveRequest">
        <part name="parameters" element="ns:checkActiveRequest"/>
    </message>
    <message name="checkActiveResponse">
        <part name="parameters" element="ns:serviceResponse"/>
    </message>
    <message name="checkActiveFault">
        <part name="parameters" element="ns:BusinessException"/>
    </message>
    <message name="systemFault">
        <part name="parameters" element="ns:SystemException"/>
    </message>
    <message name="fault">
        <part name="parameters" element="ns:fault"/>
    </message>


    <portType name="ServiceControlPortType">
        <operation name="checkAbility">
            <input name="checkAbilityRequest" message="tns:checkAbilityRequest"/>
            <output name="checkAbilityResponse" message="tns:checkAbilityResponse"/>
            <fault name="checkAbilityFault" message="tns:checkAbilityFault"/>
            <fault name="systemFault" message="tns:systemFault"/>
            <fault name="Fault" message="tns:fault"/>
        </operation>

        <operation name="changeService">
            <input name="changeServiceRequest" message="tns:changeServiceRequest"/>
            <output name="changeServiceResponse" message="tns:changeServiceResponse"/>
            <fault name="changeServiceFault" message="tns:changeServiceFault"/>
            <fault name="systemFault" message="tns:systemFault"/>
            <fault name="Fault" message="tns:fault"/>
        </operation>

        <operation name="checkActive">
            <input name="checkActiveRequest" message="tns:checkActiveRequest"/>
            <output name="checkActiveResponse" message="tns:checkActiveResponse"/>
            <fault name="checkActiveFault" message="tns:checkActiveFault"/>
            <fault name="systemFault" message="tns:systemFault"/>
            <fault name="Fault" message="tns:fault"/>
        </operation>
    </portType>

    <binding name="ServiceControlBinding" type="tns:ServiceControlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="checkAbility">
            <soap:operation/>
            <input name="checkAbilityRequest">
                <soap:body use="literal"/>
            </input>
            <output name="checkAbilityResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="checkAbilityFault">
                <soap:fault use="literal" name="checkAbilityFault"/>
            </fault>
            <fault name="systemFault">
                <soap:fault name="systemFault" use="literal"/>
            </fault>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </fault>
        </operation>

        <operation name="changeService">
            <soap:operation/>
            <input name="changeServiceRequest">
                <soap:body use="literal"/>
            </input>
            <output name="changeServiceResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="changeServiceFault">
                <soap:fault use="literal" name="changeServiceFault"/>
            </fault>
            <fault name="systemFault">
                <soap:fault name="systemFault" use="literal"/>
            </fault>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </fault>
        </operation>

        <operation name="checkActive">
            <soap:operation/>
            <input name="checkActiveRequest">
                <soap:body use="literal"/>
            </input>
            <output name="checkActiveResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="checkActiveFault">
                <soap:fault use="literal" name="checkActiveFault"/>
            </fault>
            <fault name="systemFault">
                <soap:fault name="systemFault" use="literal"/>
            </fault>
            <fault name="Fault">
                <soap:fault name="Fault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ServiceControlService">
        <port name="ServiceControlPort" binding="tns:ServiceControlBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/ServiceControlService/ServiceControlPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="ServiceControl">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ServiceControlPortTypeRole" portType="tns:ServiceControlPortType"/>
    </plnk:partnerLinkType>
</definitions>
